
body[data-v-1c81b514] {
	background: linear-gradient(var(--darker-main-color), var(--lighter-main-color));
}
.Interview[data-v-1c81b514] {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background: linear-gradient(var(--darker-main-color), var(--lighter-main-color));
}
#fillcamCharity[data-v-1c81b514] {
	position: absolute;
	top: 175px;
	left: 50px;
	width: 1200px;
	height: 675px;
	background-color: var(--container-background-color);
}
#fillcamIVW1[data-v-1c81b514] {
	position: absolute;
	top: 175px;
	left: 1300px;
	width: 500px;
	height: 281px;
	background-color: var(--container-background-color);
}
#fillcamIVW2[data-v-1c81b514] {
	position: absolute;
	top: 619px;
	left: 1300px;
	width: 500px;
	height: 281px;
	background-color: var(--container-background-color);
}
#logo[data-v-1c81b514] {
	position: absolute;
	left: 590px;
	top: 10px;
	width: 626px;
	height: 150px;
}
#info[data-v-1c81b514] {
	top: 850px;
	position: absolute;
	left: 50px;
	width: 1200px;
	height: 100px;
	background-image: linear-gradient(#429ff8, #002675);
	color: var(--font-color);
}
#name[data-v-1c81b514] {
	top: 850px;
	font-size: 45px;
	margin-left: 10px;
}
#occupation[data-v-1c81b514] {
	top: 910px;
	font-size: 20px;
	margin-left: 10px;
}
#infoIVW1[data-v-1c81b514] {
	position: absolute;
	top: 456px;
	left: 1300px;
	height: 50px;
	width: 500px;
	background-image: linear-gradient(#429ff8, #002675);
	color: var(--font-color);
	font-size: 40px;
}
#infoIVW2[data-v-1c81b514] {
	position: absolute;
	top: 900px;
	left: 1300px;
	height: 50px;
	width: 500px;
	background-image: linear-gradient(#429ff8, #002675);
	color: var(--font-color);
	font-size: 40px;
}
#nameIVW1[data-v-1c81b514] {
	margin-left: 10px;
}
#nameIVW2[data-v-1c81b514] {
	margin-left: 10px;
}
#charity-logo > img[data-v-1c81b514] {
	object-fit: contain;
	height: 90px;
}
#charity-logo[data-v-1c81b514] {
	position: absolute;
	left: 800px;
}
#infotext[data-v-1c81b514] {
	position: absolute;
	left: 0px;
}

