
body {
		/*height: 100%;
		width: 100%;
		background-color: black;*/
}
table#Board {
        height: 800px;
        width: 800px;
        border-collapse: collapse;
}
.square {
        padding: 0;
        height: 20%;
        width: 20%;
        border: 2px black solid;
}
.square.shown {
        cursor: pointer;
}
.greensquare {
        background-image: linear-gradient(#31D814, #00B500 60%, #20A00A);
}
.redsquare {
        background-image: linear-gradient(#FF4944, #DA4440 60%, #CE302C);
}
.orangesquare {
        background-image: linear-gradient(#FF9C12, #F98E1E 60%, #D0800F);
}
.bluesquare {
        background-image: linear-gradient(#409CFF, #37A1DE 60%, #088CBD);
}
.purplesquare {
        background-image: linear-gradient(#822dbf, #7120ab);
}
.pinksquare {
        background-image: linear-gradient(#ed86aa, #cc6e8f);
}
.brownsquare {
        background-image: linear-gradient(#ab5c23, #6d3811);
}
.tealsquare {
        background-image: linear-gradient(#419695, #2e7372);
}
.navysquare {
        background-image: linear-gradient(#0d48b5, #022b75);
}
.yellowsquare {
        background-image: linear-gradient(#d8d014, #c1ba0b);
}

