@import url('https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

:root {
	--container-background-color: #3b5d7e;
	--container-border-color: #5c88bc;
	--font-color: #fff;
	--darker-main-color: #315091;
	--lighter-main-color: #5c88bc;
	--alternative-main-color: #310088;
	--gradient-light: #627fbe;
	--gradient-dark: #050a1b;
}

/*Bingo Colors*/
:root {
    --bingo-color-red: linear-gradient(#FF4944, #DA4440 60%, #CE302C);
    --bingo-color-orange: linear-gradient(#FF9C12, #F98E1E 60%, #D0800F);
    --bingo-color-green: linear-gradient(#129912, #108010 60%, #0c660c);
    --bingo-color-blue: linear-gradient(#409CFF, #37A1DE 60%, #088CBD);
    --bingo-color-purple: linear-gradient(#822dbf, #7120ab);
    --bingo-color-pink: linear-gradient(#ed86aa, #cc6e8f);
    --bingo-color-brown: linear-gradient(#3bd45f, #30b050);
    --bingo-color-teal: linear-gradient(#419695, #2e7372);
    --bingo-color-navy: linear-gradient(#0d48b5, #022b75);
    --bingo-color-yellow: linear-gradient(#8c8b8b, #808080);

    --border-color-red: #CE302C;
    --border-color-orange: #D0800F;
    --border-color-green: #129912;
    --border-color-blue: #088CBD;
    --border-color-purple: #7120ab;
    --border-color-pink: #cc6e8f;
    --border-color-brown: #3bd45f;
    --border-color-teal: #2e7372;
    --border-color-navy: #022b75;
    --border-color-yellow: #808080;
}


summer {
    --container-background-color: rgba(206, 13, 0, 0.6);
    --container-border-color: black;
    --font-color: #fff;
    --darker-main-color: #e94e1b;
    --lighter-main-color: #f39200;
    --alternative-main-color: #d32f3e;
    --gradient-light: #ffa600;
    --gradient-dark: #ff1125be;
}

winter {
    --container-background-color: #3b5d7e;
    --container-border-color: #5c88bc;
    --font-color: #fff;
    --darker-main-color: #315091;
    --lighter-main-color: #5c88bc;
    --alternative-main-color: #310088;
    --gradient-light: #627fbe;
    --gradient-dark: #050a1b;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.FlexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* global animation stuff */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.border-3d {
    /* Base border */
    border: 3px solid #568152;

    /* 3D shadow effect */
    box-shadow:
        -3px -1px 0px #80bb79,  /* top and left */
        1px 1px 0px #052c01;   /* bottom and right */
}
